<select name="session"  [formControl]="$any(entityForm.controls['session'])"  (change)="setSession()" >
  <option *ngFor="let session of sessions" [value]="session.id"  >{{session.name}}</option>

</select>

<p>
<select *ngIf="session!=null" name="name"  [formControl]="$any(entityForm.controls['name'])" (change)="setPerson()"  >
  <option *ngFor="let person of persons" [value]="person.id" >{{person.firstName}} {{person.lastName}}</option>

</select>
</p>


<button *ngIf="session!=null && person!=null" (click)="order()"> order</button>
<button *ngIf="session!=null && person!=null">edit order</button>
