<div>
<mat-select   [formControl]="$any(entityForm.controls['session'])"  (selectionChange)="setSession()" >
  <mat-option *ngFor="let session of sessions" [value]="session.id"  >{{session.name}}</mat-option>

</mat-select>
</div>
 <p></p>
  <div>

<mat-select *ngIf="session!=null" name="name"  [formControl]="$any(entityForm.controls['name'])" (selectionChange)="setPerson()"  >
  <mat-option *ngFor="let person of persons" [value]="person.id" >{{person.firstName}} {{person.lastName}}</mat-option>

</mat-select>
  </div>



<button *ngIf="session!=null && person!=null" (click)="order()"> order</button>
<button *ngIf="session!=null && person!=null">edit order</button>
<button *ngIf="session!=null && person!=null" (click)="noOrder()">no order</button>

<p *ngIf="notOrder"> {{person.firstName}} doesn't want anything today</p>
