<span id="name">{{person.firstName}} {{person.lastName}}</span>
<div class="container">

  <div class="container2">
      <span class="first">name</span>
      <span class="second">price</span>
      <span id="action" class="first">action</span>
  </div>
  <div class="container2" *ngFor="let sandwich of sandwichTypes">

      <span class="first"><button (click)="order(sandwich.id) ">{{sandwich.name}}</button></span>
      <span class="second">{{sandwich.price}}</span>
      <span class="third"> nothing yet</span>




       <app-order-sandwich *ngIf="sandwich.id==id" [id]="id" [person]="person">

       </app-order-sandwich>
  </div>

</div>

<div></div>
