<span id="name">{{person.firstName}} {{person.lastName}}</span>

<div class="container">
<div id="acc" *ngFor="let cat of categories">
  <h2>{{cat}}</h2>
  <mat-accordion *ngFor="let sandwich of filterByCat(cat)">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{sandwich.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{sandwich.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><app-order-sandwich  [id]="id" [person]="person"  [id]="sandwich.id" [person]="person">

      </app-order-sandwich></p>
    </mat-expansion-panel>

  </mat-accordion>

</div>
</div>
